@font-face {
    font-family: 'Gilroy';
    src: url('assets/font/Gilroy-Medium.ttf');
}    

@font-face {
    font-family: 'Gilroy-black';
    src: url('assets/font/Gilroy-Black.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8f9fa;
}

header{
     background-color: #FFFFFF;

}



.navbar{
    /* height: 174px; */
    margin-top: 35px;
    /* background-color: #FFFFFF; */
}

.nav-logo{
    width:180px ;
    height:51px ;
}

.active{
    font-family: 'Gilroy';
}

.nav-custom-btn{
    width: 140px;
    border: none;
    background-color: #75BF7A;
    border-radius: 5.95px;
}

.hero-contant{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* align-items: center; */
}

.hero-contant h1{
    font-family: 'Gilroy-black';
    /* line-height: 65.91px; */
    font-weight: 500;

}

.hero-contant p{
    line-height: 28px;
     font-family: 'Gilroy';
}

.h-img{
    /* width: 553px; */
    height: 380px;
}

.h-btn{
    background-color:#000000 ;
    color: #FFFFFF;
     width: 171px;
     border-radius: 4.95px;
     padding: 8px;

}

.fa-google-play{
    padding-right: 9px;
}

.fa-app-store-ios{
    padding-right: 9px;
}

.green-section{
    width: 100%;
    margin-top: 30px;
    background-color: #75BF7A;
    border-radius: 10px;
    height: 166px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.green-para p{
    font-size: 24.6px;
    font-weight: 600;
     font-family: 'Gilroy';
     line-height: 24px;
     color: #FFFFFF;
     /* max-width: 200px; */

}

.input-group{
    display: flex;
    align-items: center;
    gap: 15px !important;
}

.email-input{
    height: 50px;
    width: 65%;
    /* max-width: 700px; */
    border: 0;
    padding: 0px 18px;
    border-radius: 4.39px !important;
    /* padding: 9px; */
}
input::placeholder{
    opacity: .4;
    font-family: 'Gilroy';
}

.drive-button{
    background-color: #000000;
    color: #FFFFFF;
    padding: 12px 16px;
    border: 1px solid #000000;
    border-radius: 4.39px !important;
    /* font-size: 22px; */
    font-weight: 800;
     font-family: 'Gilroy';
}

.work-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.work-section *{
    text-align: center;
}

.work-section h2{
    font-family: 'Gilroy-black';
    font-size: 42.39px;
    font-weight: 800;
    color: #000000;

}

.work-section span{
      font-family: 'Gilroy-black';
    font-size: 42.39px;
    font-weight: 800;
    color: #75BF7A;


}

.work-section p{
    /* max-width: 400px; */
    max-width: 620px ;
    color: #9E9DA2;
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    text-align: center;
}

.column-section{
    display: flex;
    flex-direction: column;

}

.circle{
    width: 350px;
    height: 350px;
    background-color: #75BF7A;
    border-radius: 50%;
}

.logo{
    position: relative;
    width: 60.82px;
    height: 60.82px;
    border: 7px solid #75BF7A;
    border-radius: 50%;
    background-color: white;
    /* left: 20px; */

    /* color: #75BF7A; */
    /* overflow: hidden; */
}
.left-side-content{
   margin-right: 20px;
}
.right-side-content{
    margin-left: 20px;
    /* margin-top: -29px; */
}
.fouth-content{
        margin-top: 29px;
}

.logo::before{
    content:"" ;
    position: absolute;
    width: 0;
    height: 0;
    top: -24px;
    left: -24px;
    border-top: 48px solid transparent;
    border-left: 48px solid #f8f9fa;
}


.logo::after{
    content:"" ;
    position: absolute;
    width: 0;
    height: 0;
    top: -24px;
    right: -24px;
    border-top: 48px solid transparent;
    border-right: 48px solid #f8f9fa;
}
.logo span{
    text-align: center;
    position: relative;
    left: 14px;
    font-size: 30px;
    font-weight: 700;
    z-index: 999;
    color: #75BF7A;
}

/* .ride-section *{
    text-align: center;
} */

.ride-section p{
    /* max-width: 290px; */
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
    color: #9E9DA2;
     font-family: 'Gilroy';
}

.ride-section h3{
    text-align: right;
    font-size: 22px;
    font-weight: 900;
    font-family: 'Gilroy-black';
}

.Center-align{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
     

}

.for-mobile{
    display: none;
}


@media screen and (max-width:992px) {
    .hero-section{
        flex-direction: column-reverse;
        transition: .6s;
    }
    .br-class{
        display: none;
    }
    .hero-contant *{
        text-align: center;
    }
    .hero-buttons{
        justify-content: center;
    }

    .green-section{
        height: 249px;
    }

    .green-section *{
        /* text-align: center; */
        align-items: center;
        justify-content: center;
    }

    .green-para p{
        /* text-align: center; */
        max-width: 269px;
    }

    .green-row{
        flex-direction: column;
    }

       .circle{
        display: none !important;
    }
    .order-content-one{
        order: 1;
        display: flex;
        flex-direction: column;
    }

    .Center-align{
        flex-direction: column;
    }

    .ride-section h3 {
        text-align: center !important;
    }
    .ride-section p {
        text-align: center !important;
    }

    /* .ride-section p{
        max-width: 320px;
    } */

    .ride-section p{
        /* width: 100% !important; */
    }

    .responsive-center{
            justify-content: center !important;
    }

    .for-mobile{
        display: block;

    }

    .mobile-img{
        display: flex;
        justify-content: center;
    }

    .mobile-img img{
     width: 232.19px;
    margin-top: 32px;
    }

    .circle2{
    width: 350px;
    height: 350px;
    background-color: #75BF7A;
    border-radius: 50%;
}


.center-circle{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
}

     .circle2{
        display: block !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        position: absolute;
        top: 84px;
        z-index: -3;
    }

}


@media screen and (max-width:995px) and (min-width:770px){
    .green-section *{
        width: 95%;
    }

    .green-para p{
        text-align: center;
    }
    
}

@media screen and (max-width:767px) {

    .input-group{
        flex-direction: column;
        width: 100%;
    }
    
    .email-input{
        width: 100%;
    }

    .drive-button{
        width: 100%;
    }

    .ride-section p {
        text-align: center !important;
    }
}



